@model IJ_w55296.OrganizacjeT

@{
    ViewBag.Title = "Details";
}

<div>
    <hr />
    <h4>@Html.DisplayFor(model => model.Nazwa)</h4>
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.KRS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KRS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wojewodztwo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wojewodztwo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Powiat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Powiat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gmina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gmina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Miasto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Miasto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KodPocztowy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KodPocztowy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ulica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ulica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataZalozenia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataZalozenia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FormaPrawna)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FormaPrawna)
        </dd>

    </dl>

    <h4>Zarząd</h4>
    <p>
        @Html.ActionLink("Nowy członek", "CreateMenagement", new { id = Model.OrganizacjaID })
    </p>

    <table class="table">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Function</th>
        </tr>
        @foreach (var item in Model.ZarzadT)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nazwisko)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Imie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Funkcja)
                </td>
                <td>
                    @Html.ActionLink("Edytuj", "EditMenagement", new { id = item.ZarzadID })
                </td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.OrganizacjaID }) |
    @Html.ActionLink("Usuń", "Delete", new { id = Model.OrganizacjaID }) |
    @Html.ActionLink("Index", "Index")
</p>

